.sandbox-catalog-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;
  max-width: 1600px;
}

.sandbox-catalog-card-wrapper {
  width: 500px;
  max-width: 100%;
  height: 320px;
}
