.banner-body {
  margin: 0 auto;
  max-width: 2000px;
  padding: 21px 100px 0 100px;
  width: 100%;
}

.banner-body-content-wrapper {
  align-items: center;
  gap: var(--pf-t--global--spacer--lg);
  justify-content: space-between;
}
